# Chapter 6 Homework

## 6-1

In [3]:
d = {'first_name': 'john', 'last_name': 'williams', 'age': 23, 'city': 'boston'}
print(d['first_name'], d['last_name'], d['age'], d['city'])

john williams 23 boston

## 6-2

In [4]:
names = ['Aaren','Aarika','Abagael','Abagail','Abbe']
d = {}
i = 0
for n in names:
    d[n] = i
    i += 1

for i in d:
    print(i, d[i])

Aaren 0
Aarika 1
Abagael 2
Abagail 3
Abbe 4

## 6-3

In [8]:
glossary = {'string':'dype', 'float':'dype', 'int':'dype', 'long':'dype', 'short':'dype', }

for i in glossary:
    print(i + ': ' + glossary[i])

string: dype
float: dype
int: dype
long: dype
short: dype

## 6-4

In [9]:
glossary["abstract set 1"] = "A generic set that is used only as a template for derived classes, and that cannot be instantiated."
glossary["abstract set 2"] = "In object-oriented programming, a set in which no objects can be created. It is, however, used to defined subclasses, and objects are created from the subclasses."
glossary["abstract definition"] = 'The definition of a set of (concrete) definitions, which describes characteristics common to all instances of the abstract definition.'
glossary['abstract endpoint definition'] = 'The abstract type of an endpoint, which defines common characteristics of a set of endpoints. Examples include, Web Site Endpoint, Http Client Endpoint, Http Server Endpoint.'
glossary['abstract server definition'] = 'The abstract type of an application server, which defines common characteristics of a set of logical application servers including the set ofsupported abstract endpoint definitions.'

for i in glossary:
    print(i + ': ' + glossary[i])

string: dype
float: dype
int: dype
long: dype
short: dype
abstract set 1: A generic set that is used only as a template for derived classes, and that cannot be instantiated.
abstract set 2: In object-oriented programming, a set in which no objects can be created. It is, however, used to defined subclasses, and objects are created from the subclasses.
abstract definition: The definition of a set of (concrete) definitions, which describes characteristics common to all instances of the abstract definition.
abstract endpoint definition: The abstract type of an endpoint, which defines common characteristics of a set of endpoints. Examples include, Web Site Endpoint, Http Client Endpoint, Http Server Endpoint.
abstract server definition: The abstract type of an application server, which defines common characteristics of a set of logical application servers including the set ofsupported abstract endpoint definitions.

## 6-5

In [13]:
rivers = {'nile': 'Egypt', 'Rhine': 'Germany', 'Sacramento': 'USA'}

for i in rivers:
    print('The ' + i + ' runs through ' + rivers[i])
    
print('\nnames:')
for i in rivers:
    print(i)
print('\ncountries:')
for i in rivers:
    print(rivers[i])

The nile runs through Egypt
The Rhine runs through Germany
The Sacramento runs through USA

names:
nile
Rhine
Sacramento

countries:
Egypt
Germany
USA

## 6-7

In [18]:
d1 = {'first_name': 'john', 'last_name': 'williams', 'age': 23, 'city': 'boston'}
d2 = {'first_name': 'caden', 'last_name': 'johnson', 'age': 93, 'city': 'boston'}
d3 = {'first_name': 'jake', 'last_name': 'doe', 'age': 43, 'city': 'boston'}
people = [d1, d2, d3]

for p in people:
    for i in p:
        print(i, p[i])
    print('\n')

first_name john
last_name williams
age 23
city boston


first_name caden
last_name johnson
age 93
city boston


first_name jake
last_name doe
age 43
city boston

## 6-8

In [19]:
Alis = {'kind':'dog', 'owner':'jeff'}
Alisa = {'kind':'cat', 'owner':'jacob'}
Alisha = {'kind':'snake', 'owner':'jeffries'}
pets = [Alis, Alisa, Alisha]

for p in pets:
    for i in p:
        print(i, p[i])
    print('\n')

kind dog
owner jeff


kind cat
owner jacob


kind snake
owner jeffries

## 6-9

In [28]:
favorite_places = {
    'Alfi': ['Cowes', 'Mannheim'],
    'Alfie':['Paris', 'London', 'Rome'],
    'Alfreda':['Boston', 'Paris']
}

for i in favorite_places:
    print('Name:', i)
    for j in favorite_places[i]:
        print(j)
    print('\n')

Name: Alfi
Cowes
Mannheim


Name: Alfie
Paris
London
Rome


Name: Alfreda
Boston
Paris

## 6-11

In [34]:
cities = {
    'Paris':{'country':'France', 'population':'2161000', 'fact':'Paris is the capital of France'},
    'Nice':{'country':'France', 'population':'342522', 'fact':'Nice is by the ocean'},
    'Reims':{'country':'France', 'population':'184076', 'fact':'Reims is the most populous city in the French department of Marne'}
}

for i in cities:
    print(i)
    for j in cities[i]:
        print(j, cities[i][j])
    print('\n')

Paris
country France
population 2161000
fact Paris is the capital of France


Nice
country France
population 342522
fact Nice is by the ocean


Reims
country France
population 184076
fact Reims is the most populous city in the French department of Marne